/.RData
/.Rhistory
/*.tar.gz
/*.zip
/*.pdf
__packages
*_rdb
*_rdx
model/**
archive/*.ref
archive/qa-*.csv
archive/*.bat
archive/*.reference
archive/*.ba6
archive/*.bud
archive/*.dis
archive/*.drn
archive/*.exe
archive/*.hds
archive/*.lpf
archive/*.lst
archive/*.nam
archive/*.oc
archive/*.riv
archive/*.sms
archive/*.wel
archive/fort.6
